img {
  width: 300px;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.user-input{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  
}

#enter-button{ 
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.output-container{ 
  width: 500px;
  height: 100px;
  
  
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}

#reset-button{ 
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

#header-output{ 
  margin-top: 50px;
  text-align: center;
}


